/*
 *  Node Footer section
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------



// Main settings
// -------------------------
.node.node-footer {
  padding: 28px 0 20px;
  border-top: 1px solid @pxl-color-border;

  .row {
    .col-sm-4 {
      .field-name-field-left {
        // see view-live-tv.less
      }

      .field-name-field-middle-left {
        display: block;

        @media @narrow {
          display: block;
        }

        .block-title {
          #pxl-mixins.teaser-title();
          color: @pxl-color-black;
        }

        .follow-buttons {
          margin: 0 0 20px;
          width: 100%;
          text-align: left;

          a {
            display: inline-block;
            margin: 0 10px 0 0;
            padding: 0;
            color: @pxl-color-black;
            vertical-align: middle;

            &:hover {
              color: @link-color-hover;
            }

            .fa {
              font-size: 24px;

              &.fa-instagram {
                margin: 0;
                padding: 1px 2px;
                font-size: 19px;
                color: @pxl-color-white;
                line-height: 1;
                #pxl-mixins.border-radius(5px);
                background-color: @pxl-color-black;

                &:hover {
                  background-color: @link-color-hover;
                }
              }
            }
          }
        }

        // see webform-newsletter.less
      }

      .field-name-field-right {
        display: none;

        @media @tablet {
          display: block;
        }
        // see node-block.less
      }

    }
  }
}
