/*
 *  Node videostream component
 * --------------------------------------------------*/

// Variables
// -------------------------
@video-padding-dist: 6px;
@video-header-height-teaser: @resp-teaser-title-size-min + @video-padding-dist;



// Mixins
// -------------------------



// General settings
// -------------------------
.node.node-videostream.view-mode-full,
.node.node-videostream.view-mode-default {
  .node-type-videostream & {
    // for full node pages, limit the width to container
    margin: 0 auto;
    padding: 0;

    @media @normal {
      padding: 0 @grid-gutter-width-const/2;
      max-width: @container-inner-max-width;
    }

    @media @wide {
      max-width: @container-inner-max-width-lg;
    }
  }

  >.row {
    >div.col-sm-12 {
      >.video-top {
        position: relative;
        height: 50px;

        img.video-close {
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
          width: 23px;
          height: auto;
        }
      }

      >.video-container {
        position: relative;

        .video-poster {
          overflow: hidden;
          height: 0;
          padding-bottom: 56.25%; // 16:9

          img {
            display: block;
            overflow: hidden;
            margin: 0;
            padding: 0;
            width: 100%;
            height: auto;
          }
        }

        video {
          display: block;
          width: 100%;
        }

        >.video-header {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          z-index: 10;
          margin: 0;
          padding: 0;
          opacity: 1.0;
          #pxl-mixins.transition(opacity 0.6s ease);

          &.video-playing {
            opacity: 0.0;
          }

          .title-line-1 {
            width: 90%;

            .field-name-title {
              h2 {
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin: 0;
                padding: 0 12px 6px 0;
                max-width: 100%;
                #pxl-mixins.title();
                line-height: 1;
                border-bottom-right-radius: 10px;
                background-color: @pxl-color-body-bg;

                @media @narrow {
                  padding: 0 20px 10px 0;
                }
              }
            }
          }
        }
      }

      >.video-body {
        width: 100%;
        opacity: 1.0;
        #pxl-mixins.transition(opacity 0.6s ease);

        &.video-playing {
          opacity: 0.0;
        }

        .title-line-2 {
          display: block;
          margin: 0;
          padding: 10px 0;

          >.video-duration-category {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            max-width: 50%;
            text-overflow: ellipsis;

            &:before {
              content: '\f017';
              font-family: @pxl-icon-font;
              padding-right: 3px;
            }
          }

          >.video-time-info {

          }

          @media @narrow {
            display: flex;
            justify-content: space-between;
          }
        }

        .title-line-3 {
          display: block;
          margin: 0;
          padding: 0 0 30px;

          >.video-season-episode {
            max-width: 50%;
          }
          >.video-language-age {

          }

          @media @narrow {
            display: flex;
            justify-content: space-between;
          }
        }

        .field-name-body {
          margin: 0;
          padding: 0 0 30px;
          #pxl-mixins.wysiwyg-body();
        }

        .social-buttons > .shariff {
          .social-shariff();
        }
      }

      >.video-similar {
        width: 100%;
        opacity: 1.0;
        #pxl-mixins.transition(opacity 0.6s ease);

        &.video-playing {
          opacity: 0.0;
        }

        // see views-similar.less
      }

    }
  }
}

//
// teaser featured
.node.node-videostream.view-mode-teaser_featured {
  >.row {
    >div.col-sm-8,
    >div.col-sm-4 {
      >.video-container {
        display: inline-block;
        position: relative;
        vertical-align: top;
        margin: 0;
        width: 100%;

        .video-poster-container {
          overflow: hidden;
          height: 0;
          padding-bottom: 56.25%;

          img.video-poster {
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            height: auto;
          }
        }

        img.video-play-button {
          display: block;
          #pxl-mixins.center-xy(absolute);
          margin: 0;
          padding: 0;
          width: 30%;
          height: auto;
        }
      }

      >.video-title {
        position: relative;
        z-index: 10;
        margin: 0;
        padding: @video-padding-dist 0;
        width: 100%;
        border-bottom: 1px solid @pxl-color-border;
        border-bottom: 0.5px solid @pxl-color-border;

        @media @tablet {
          padding: 0 0 @video-padding-dist;
        }

        .field-name-title {
          h2 {
            overflow: hidden;
            //white-space: nowrap;
            //text-overflow: ellipsis;
            width: 100%;
            margin: 0;
            padding: 0;
            #pxl-mixins.title();
            line-height: 1;
          }
        }
      }

      >.video-body {
        width: 100%;
        padding: 0;

        >.field-name-body {
          overflow: hidden;
          margin: 14px 0;
          height: 190px;
          max-height: 190px;
          #pxl-mixins.wysiwyg-body();
        }

        >.video-duration-category {
          padding: 0 0 8px;
          #pxl-mixins.subtext();
          color: @pxl-color-white;

          &:before {
            content: '\f017';
            font-family: @pxl-icon-font;
            padding-right: 5px;
          }
        }
      }

      >.social-buttons > .shariff {
        .social-shariff(20px);
        border-top: 1px solid @pxl-color-border;
        border-top: 0.5px solid @pxl-color-border;
      }

    }
  }
}

//
// teaser front
.node.node-videostream.view-mode-teaser {
  >.row {
    >div.col-sm-12 {
      >.video-container {
        display: inline-block;
        position: relative;
        vertical-align: top;
        margin: 0;
        width: 100%;

        .video-thumb-container {
          overflow: hidden;
          height: 0;
          padding-bottom: 56.25%;

          img.video-thumb {
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            height: auto;
          }
        }

        img.video-play-button {
          display: none;
          #pxl-mixins.center-xy(absolute);
          margin: 0;
          padding: 0;
          width: 30%;
          height: auto;
        }

        .mobile-device &, &:hover {
          img.video-play-button {
            display: block;
          }
        }
      }

      >.video-header {
        position: relative;
        z-index: 10;
        margin: -(@video-header-height-teaser - 3px) 0 0;
        padding: 0;
        width: 100%;
        height: @video-header-height-teaser+1px;

        @media @wide {
          margin: -@video-header-height-teaser 0 0;
        }

        .title-line-1 {
          width: 90%;

          .field-name-title {
            h2 {
              display: inline-block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              margin: 0;
              padding: 6px 12px 2px 0;
              max-width: 100%;
              #pxl-mixins.teaser-title();
              line-height: 1;
              border-top-right-radius: 10px;
              background-color: @pxl-color-body-bg;
            }
          }
        }
      }

      >.video-body {
        position: relative;
        padding: 0;
        width: 100%;
        #pxl-mixins.subtext();

        >.video-duration-category {
          display: inline-block;
          overflow: hidden;
          white-space: nowrap;
          max-width: 50%;
          text-overflow: ellipsis;
          color: @pxl-color-white;

          &:before {
            content: '\f017';
            font-family: @pxl-icon-font;
            padding-right: 5px;
          }
        }

        >.video-time-info {
          display: inline-block;
          position: absolute;
          top: 2px;
          right: 0;

          .day-highlight,
          .day-one-highlight {
            display: inline-block;
            padding: 1px 3px 0;
            line-height: 1;
            #pxl-mixins.border-radius(2px);
            background-color: @pxl-color-main;
          }
          .day-one-highlight {
            padding: 1px 4px 0;
          }
        }

        @media @wide {
          padding: 5px 0;

          >.video-time-info {
            top: 7px;
          }
        }

      }
    }
  }
}


//
// teaser program, program or search item displayed as row
.node.node-videostream.view-mode-teaser_program {
  >.group-header {
    .group-header-line {
      margin-right: -100%;
      border-top: 2px solid @pxl-color-border;
    }

    .broadcast-time {
      display: none;
      padding: @pxl-group-header-padding-tb 0;
      #pxl-mixins.group-title();

      body.page-programm & {
        display: block;
      }
    }
  }

  >.row.group-body {
    margin: @pxl-group-header-padding-tb auto;
    padding: 0;

    body.page-programm & {
      margin: 0 auto;
    }

    @media @mobile {
      >div.col-12 {
        width: 100%;
      }
    }

    @media @normal {
      padding: 0 @grid-gutter-width-const/2;
      max-width: @container-inner-max-width;

      body.page-programm & {
        margin-top: -(@pxl-group-header-padding-tb + @resp-teaser-title-size-max);
      }
    }

    @media @wide {
      max-width: @container-inner-max-width-lg;
    }

    >div.col-sm-4 {
      &.col-first {
        padding-left: 0;
      }
      &.col-last {
        padding-right: 0;
      }

      >.video-container {
        display: inline-block;
        position: relative;
        vertical-align: top;
        margin: 0;
        width: 100%;

        .video-thumb-container {
          overflow: hidden;
          height: 0;
          padding-bottom: 56.25%;

          img.video-thumb {
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            height: auto;
          }
        }

        img.video-play-button {
          display: block;
          #pxl-mixins.center-xy(absolute);
          margin: 0;
          padding: 0;
          width: 30%;
          height: auto;
        }
      }

      >.video-header {
        position: relative;
        z-index: 10;
        margin: -(@video-header-height-teaser - 3px) 0 0;
        padding: 0;
        width: 100%;
        height: @video-header-height-teaser+1px;

        @media @wide {
          margin: -@video-header-height-teaser 0 0;
        }


        .title-line-1 {
          width: 90%;

          .field-name-title {
            h2 {
              display: inline-block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              margin: 0;
              padding: 6px 12px 2px 0;
              max-width: 100%;
              #pxl-mixins.teaser-title();
              line-height: 1;
              border-top-right-radius: 10px;
              background-color: @pxl-color-body-bg;
            }
          }
        }
      }

      >.video-body {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 14px 0 0;
        width: 100%;

        .field-name-body {
          padding: 0;
          #pxl-mixins.wysiwyg-body();
        }

        @media @narrow {
          padding: 0;
        }
      }

      >.video-details {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 14px 0 0;
        width: 100%;
        #pxl-mixins.text();

        @media @tablet {
          padding: 0;
        }

        >.video-time-info {
          .day-highlight,
          .day-one-highlight {
            display: inline-block;
            padding: 1px 3px 0;
            line-height: 1;
            #pxl-mixins.border-radius(2px);
            background-color: @pxl-color-main;
          }
          .day-one-highlight {
            padding: 1px 4px 0;
          }
        }

        >.video-duration-category {
          &:before {
            content: '\f017';
            font-family: @pxl-icon-font;
            padding-right: 5px;
          }
        }

        >.video-season-episode {

        }

        >.video-language-age {

        }
      }

    }
  }
}

