/*
 *  View program component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------



// General settings
// -------------------------
.view.view-program {
  margin: 0 auto;
  width: 70%;

  .view-content {
    padding: 0;
    .horizontal-grid();
  }
}

