/*
 *  Webform Email component
 * --------------------------------------------------*/

// Variables
// -------------------------
@webform-color-submit: #fff;
@webform-bg-color-submit: @pxl-color-main;

@newsletter-height: 22px;



// Mixins
// -------------------------
.webform-submit-button(@size: @font-size-small; @color: @webform-color-submit; @bg-color: @webform-bg-color-submit; @radius: 3px) {
  display: inline-block;
  margin: 0;
  padding: 2px;
  height: @newsletter-height;
  vertical-align: top;
  font-family: @pxl-text-font-bold;
  font-size: @size;
  line-height: 1;
  letter-spacing: 0;
  text-transform: capitalize;
  color: @color;
  outline: none;
  opacity: 1.0;
  .border-left-radius(@radius);
  .border-right-radius(@radius);
  border: none;
  background-color: @bg-color;

  &:hover, &:focus {
    opacity: 0.7;
  }
}




// Webform settings
// -------------------------
.block-webform {
  display: inline-block;

  form.webform-client-form {
    margin: 0;
    width: 100%;

    @media @narrow {
      white-space: nowrap;
    }

    .webform-component {
      display: inline-block;
      margin: 0;
      vertical-align: top;

      input {
        padding: 0 5px;
        #pxl-mixins.subtext();
        color: @pxl-color-black;
        height: @newsletter-height;
        border-bottom: 1px solid @pxl-color-black;
        #pxl-mixins.placeholder();
      }
      input:hover, input:focus {
        border: 1px solid @pxl-color-main;
        .box-shadow(0 0 3px @pxl-color-main inset);
      }

      &.webform-component--e-mail {
        width: 100%;
        padding-right: 10px;

        @media @narrow {
          width: 65%;
        }

        input {
          .border-left-radius(0);
          .border-right-radius(0);
        }
      }
    }

    div.form-actions {
      display: inline-block;
      padding-top: 10px;
      width: 100%;
      vertical-align: top;

      @media @narrow {
        padding-top: 0;
        width: 35%;
      }

      button.webform-submit {
        .webform-submit-button(14px);
      }
    }
  }
}
