/*
 *  Header section (navigation)
 * --------------------------------------------------*/

// Variables
// -------------------------
@navbar-search-form-width: 280px;
@navbar-header-height: 100px;


// Mixins
// -------------------------
.navbar-toggle() {
  // navbar toggle with animated burger
  float: none;
  margin: 0;
  padding: 0;
  #pxl-mixins.center-vertically(absolute);
  right: @grid-gutter-width-const/2;
  border: none;
  background: none;

  .icon-bar {
    display: block;
    height: 3px;
    width: 30px;
    background-color: @pxl-color-black;
    opacity: 1.0;
    .transform-origin(left center);
    #pxl-mixins.transition-transform(0.5s ease);
    #pxl-mixins.transition(opacity 0.3s ease);

    & + .icon-bar {
      margin-top: 7px;
    }
  }

  &:hover {
    background: none;
    .icon-bar {
      & + .icon-bar {
        margin-top: 10px;
      }
    }
  }

  &[aria-expanded="true"] {
    .icon-bar {
      width: 29px;

      &.first {
        .rotate(45deg)
      }
      &.second {
        opacity: 0.0;
      }
      &.third {
        .rotate(-45deg)
      }
    }

    &:hover {
      .icon-bar {
        & + .icon-bar {
          margin-top: 7px;
        }
      }
    }
  }

}



// Main settings
// -------------------------
body.navbar-is-fixed-top {
  padding-top: 100px !important;

  &.admin-menu {
    padding-top: 100px !important;
  }

}


header#navbar {
  border-bottom: none;
  background: white none;

  .container, .container-fluid {
    position: relative;
    padding: 20px @grid-gutter-width-const/2;
    max-width: @container-inner-max-width;

    .navbar-header {
      // header (branding)
      height: @navbar-header-height - 40px;

      a.logo {
        #pxl-mixins.center-vertically(absolute);
        left: @grid-gutter-width-const/2;
        float: none;
        margin: 0;
        padding: 0;

        img {
          display: inline-block;
          vertical-align: middle;
          width: 100px;
          height: auto;
        }
      }

      a.lead {
        display: none;
        position: absolute;
        margin: 0;
        left: 150px;
        top: 55%;
        transform: translateY(-50%);
        #pxl-mixins.subtitle();
        color: @pxl-color-black;

        @media @tablet {
          display: inline-block;
        }
      }

      a.navbar-brand {
        display: inline-block;
        vertical-align: middle;
        float: none;
        margin-left: @grid-gutter-width/2;
        padding: 0;
        font-family: @pxl-text-font-medium;
        font-size: @font-size-h1;
        color: @pxl-color-black;
        line-height: 1;
      }

      #navbar-search-container {
        display: inline-block;
        position: absolute;
        margin: 0;
        top: 50%;
        transform: translateY(-50%);
        right: 60px;

        .navbar-search-form {
          display: inline-block;
          overflow: hidden;
          vertical-align: top;

          .views-exposed-form {
            .hidden-exp-search-videos-form();
          }

          &.form-expanded {
            .views-exposed-form {
              .visible-exp-search-videos-form();
            }
          }
        }

        .navbar-search-button {
          display: inline-block;
          vertical-align: top;

          img {
            display: block;
            width: @form-control-height;
            max-width: 30px;
            height: auto;
          }
        }

      }

      .navbar-toggle {
        // navbar toggle with animated burger
        .navbar-toggle();
      }
    }

    // collapse part
    .navbar-collapse {
      position: absolute;
      top: @navbar-header-height;
      right:  @grid-gutter-width / 2;
      padding: 30px;
      width: auto;
      text-align: left;
      border: none;
      background-color: @pxl-color-white;

      //
      // main menu
      nav {
        display: inline-block;

        ul.navbar-nav {
          margin: 0;

          li {
            display: block;
            padding: 0;

            a {
              padding: 7px 15px;
              font-family: @pxl-text-font-bold;
              font-size: 40px;
              color: @pxl-color-black;
              line-height: 1;

              &:hover,
              &.active {
                color: @link-color-hover;
                text-decoration: @link-decoration-hover;
                background: none;
              }
            }
          }
        }
      }

    }
  }
}

