/*
 * SWISS 1 skin for JWPlayer
 */
@import "jwplayer/vars";
@import "jwplayer/transitions";

@pxl-color-main: #BC2929;
@pxl-text-font: 'CiutadellaRegular', sans-serif;

.jw-skin-swiss1 {

  .jw-controls-right {
    .jw-dock {
      // buttons overlaid for plugins
    }

    .jw-logo {
      // customer logo
      margin: 20px !important;
      max-width: 60px !important;
      width: auto;
    }
  }

  .jw-display-icon-container {
    background-color: @display-bkgd-color;
  }
  &:hover .jw-display-icon-container {
    background-color: @display-bkgd-color !important;

    & > .jw-icon {
      opacity: 1.0;
    }
  }

  .jw-text {
    font-family: @pxl-text-font;
  }

  .jw-slider-horizontal {
    .jw-rail,.jw-buffer, .jw-progress {
      height: 0.2em;
    }
    .jw-progress {
      background-color: @pxl-color-main;
    }
    .jw-knob {
      background-color: @pxl-color-main;
    }
  }

  .jw-icon-playback {
    &:before {
      display: none;
    }
  }

  &.jw-breakpoint-2 {
    .jw-display .jw-icon {
      width: @mobile-touch-target * 1.5;
      height: @mobile-touch-target * 1.5;
      line-height: @mobile-touch-target * 1.5;
    }
  }

  .jw-dock-button {
    // Seven skin dock buttons do not highlight, they only show the tooltip
    &:hover {
      background: @controlbar-background;
    }

    border-radius: 2.5em;
  }

  .jw-menu {
    padding: 0;
  }

  .jw-dock {
    .jw-overlay {
      border-radius: @ui-padding;
    }
  }

  .jw-skip {
    border-radius: @ui-padding;
  }

  .jw-text {
    text-rendering: optimizeLegibility;
    /* font-smoothing is a private setting not transformed by PostCSS */
    -webkit-font-smoothing: antialiased;
    /* OSX Firefox specific style for improving legibility */
    -moz-osx-font-smoothing: grayscale;
  }

  .jw-slider-container {
    .jw-knob {
      opacity: 0;
    }

    &:hover {
      .jw-knob {
        opacity: 1;
      }
    }
  }

  &.jw-flag-touch {
    .jw-knob {
      opacity: 1;
    }
  }
}
