/*
 * SWISS 1 skin for JWPlayer
 */
.jw-controls-right,
.jw-display,
.jw-overlay,
.jw-dock {
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.jw-background-color {
  transition: background-color 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}
.jw-button-color {
  transition: color 0.3s ease;
}
.jw-knob {
  transition: opacity 0.15s ease;
}
.jw-skin-swiss1 .jw-controls-right .jw-logo {
  margin: 20px !important;
  max-width: 20px;
}
.jw-skin-swiss1 .jw-display-icon-container {
  border-radius: 3.5em;
  background-color: rgba(33, 33, 33, 0);
}
.jw-skin-swiss1 .jw-display-icon-container > .jw-icon {
  color: rgba(255, 255, 255, 0.5);
}
.jw-skin-swiss1:hover .jw-display-icon-container {
  background-color: rgba(33, 33, 33, 0) !important;
  border: 2px solid rgba(255, 255, 255, 0.9);
}
.jw-skin-swiss1:hover .jw-display-icon-container > .jw-icon {
  color: #ffffff;
}
.jw-skin-swiss1.jw-breakpoint-2 .jw-display .jw-icon {
  width: 66px;
  height: 66px;
  line-height: 66px;
}
.jw-skin-swiss1 .jw-dock-button {
  border-radius: 2.5em;
}
.jw-skin-swiss1 .jw-dock-button:hover {
  background: rgba(33, 33, 33, 0.8);
}
.jw-skin-swiss1 .jw-menu {
  padding: 0;
}
.jw-skin-swiss1 .jw-dock .jw-overlay {
  border-radius: 0.5em;
}
.jw-skin-swiss1 .jw-skip {
  border-radius: 0.5em;
}
.jw-skin-swiss1 .jw-text {
  text-rendering: optimizeLegibility;
  /* font-smoothing is a private setting not transformed by PostCSS */
  -webkit-font-smoothing: antialiased;
  /* OSX Firefox specific style for improving legibility */
  -moz-osx-font-smoothing: grayscale;
}
.jw-skin-swiss1 .jw-slider-container .jw-knob {
  opacity: 0;
}
.jw-skin-swiss1 .jw-slider-container:hover .jw-knob {
  opacity: 1;
}
.jw-skin-swiss1.jw-flag-touch .jw-knob {
  opacity: 1;
}
